* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0b2434;
  font-family: "Karla", sans-serif;
}
main {
  height: 360px;
  width: 390px;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #2b283a;
}
.explanation {
  text-align: center;
  font-size: 15px;
  color: #4a4e74;
  font-weight: 400;
  padding: 0px 18px;
}
.explanation h1 {
  margin-bottom: 10px;
}
.dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  grid-gap: 28px;
  margin-bottom: 20px;
}
.die {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  font-size: 3rem;
  background-color: black;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* dice spins on load */
  animation-name: spin;
  animation-duration: 300ms;
  animation-iteration-count: 50ms;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
button {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 4px 4px 8px -3px rgba(0, 0, 0, 0.2);
}
.score {
  font-size: 18px;
  color: #59e391;
  font-weight: bold;
}
